<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百度一下，你就知道</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<link rel="stylesheet" href="css/input.css" type="text/css" />-->
    <link rel="icon"href="img/pic1.jpg">
    <link rel="stylesheet" href="css/baidu.css">

</head>
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script>
    window.onload=function(){
        new Vue({
            el:'#box',
            data:{
                myData:[],
                t1:'',
                now:-1,
                isShow:true,
            },
            methods:{
                get:function(ev){
                    if(ev.keyCode==38 || ev.keyCode==40)return;

                    if(ev.keyCode==13){
                        window.open('https://www.baidu.com/s?wd='+this.t1);
                        this.t1='';
                    }

                    this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                        wd:this.t1
                    },{
                        jsonp:'cb'
                    }).then(function(res){
                        this.myData=res.data.s;
                        this.isShow='true'
                    },function(){

                    });
                },
                search:function(){
                    window.open('https://www.baidu.com/s?wd='+this.t1);
                    this.t1='';
                },
                changeDown:function(){
                    this.now++;
                    if(this.now==this.myData.length)this.now=-1;
                    this.t1=this.myData[this.now];
                },
                changeUp:function(){
                    this.now--;
                    if(this.now==-2)this.now=this.myData.length-1;
                    this.t1=this.myData[this.now];
                },
                clk:function(e){
                    var index=e.target.innerText;
                    this.t1=index;
                    var input=document.getElementById("input");
//                    console.log(input)
                    input.style.color="blue";
                    input.focus()
                    this.isShow=false;
                    var boxUl=document.getElementById("boxUl");
                    console.log(boxUl);

                }
            }
        });


    };
</script>

<body  >
<header>
    <nav>
        <ul class="nmb">
            <li><a href="#">糯米</a></li>
            <li><a href="#">新闻</a></li>
            <li><a href="#">好123</a></li>
            <li><a href="#">地图</a></li>
            <li><a href="#">视频</a></li>
            <li><a href="#">贴吧</a></li>
            <li><a href="#">登录</a></li>
            <li class="settings"><a href="#">设置</a>
                <div class="setbox">
                    <div class="box">
                        <div class="triangle1"></div>
                        <div class="triangle2"></div>
                    </div>
                    <ul class="setItem">
                            <li>搜索设置</li>                                                                                                                                                                                                                                                                                                                                                                                                            <li>搜索设置</li>
                            <li>高级设置</li>
                            <li>关闭预测</li>
                            <li>搜索历史</li>
                        </ul>
                    </div>
                </li>
                <li id="more">
                    <a href="#">更多产品</a>
                    <div>
                        <span>更多产品</span>
                        <br/>
                        <a href="#" class="imgItem">
                            <span class="imglist music">
                            </span>
                            音乐
                        </a>
                        <a href="#" class="imgItem">
                            <span class="imglist tupian">
                            </span>
                            图片
                        </a>
                        <a href="#" class="imgItem">
                            <span class="imglist zhidao">
                            </span>
                            知道
                        </a>
                        <a href="#" class="imgItem">
                            <span class="imglist wenku">
                            </span>
                            文库
                        </a>
                        <a href="#" class="imgItem">
                            <span class="imglist fengyunbang">
                            </span>
                            风云榜
                        </a>
                        <a href="#" class="imgItem">
                            <span class="imglist baidutuiguang">
                            </span>
                            百度推广
                        </a>
                        <a href="#" class="imgItem">
                            全部产品
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="img/baidu1.png" title="百度一下你就知道" alt="未加载成功">
            <div id="box" >
                <sapn class="center">
                <span class="center_left">
                    <input id="input" type="text" v-model="t1" @keydown="get($event)" @keydown.down="changeDown()" @keydown.up.prevent="changeUp()" value="请输入你想要搜索的关键字" onfocus="clearText(this)"/>
                    <ul id="boxUl" v-if="isShow">
                        <li v-text="value" v-for="value in myData" :class="{gray:$index==now}" @click="clk($event)" >
                            <!--{{value}}-->
                        </li>
                    </ul>
                </span>
                <span class="center_right">
                    <input type="button" value="百度一下" @click="search()">
                </span>
                </sapn>

            </div>
    </section>
    <footer>
        <ul class="footerItem">
            <li><img src="img/pic.png"></li>
            <li>
                <span>手机百度</span>
                <br>
                <span>快人一步</span>
            </li>
            <li><img src="img/pic.png"></li>
            <li>
                <span>百度糯米</span>
                <br>
                <span>一毛大餐</span>
            </li>
            <li>
                <div>
                    <a href="#">把百度设为主页</a>
                    <a href="#">关于百度</a>
                    <a href="#">About Baidu</a>
                </div>
                <div>
                    ©2015Baidu<a href="#">使用百度前必读</a>
                    <a href="#">意见反馈</a>京ICP证0300007号
                </div>
            </li>
        </ul>
    </footer>
    <div id="backgroundColor"></div>
    <div id="loginForm">
        <div><label for="userName">用户名：</label><input type="text" id="userName"></div>
        <div><label for="userPassword">密码：&nbsp;</label><input type="password" id="userPassword"></div>
        <div><input type="button" id="login" value="登录" onclick="login()"></div>
        <span id="close" onclick="hideLogin()">x</span>
    </div>

<script>
    function clearText(elm){
        elm.value="";
        elm.onfocus=null;
    }
    function changeText(elm){
        elm.value="点击下"
    }
    function showLogin(){
        document.getElementById("backgroundColor").style.display="block";
        document.getElementById("loginForm").style.display="block";
    }

    function hideLogin(){
        document.getElementById("backgroundColor").style.display="none";
        document.getElementById("loginForm").style.display="none";
    }
    function login() {
        var username = document.getElementById("userName")
        var password = document.getElementById("userPassword")
        if (username.value.trim().length==0) {
            username.style.borderColor = "red"
            return;
        }
        if (password.value.trim().length==0) {
            password.style.borderColor = "red"
            return;
        }
        window.location.href="1215text.html?username="+username.value;
    }
</script>

</body>
</html>