/* CSS Document */
/*顶部栏*/
.work_con_tit{height:50px;background:#FF6A6E}
.work_con_return{line-height:50px;margin-left: 15px;color: #fff;font-size: 2em}
.work_con_h4{color: #fff;line-height: 30px;}
/*底部固定栏*/
.foot{background:#fff;position: fixed;left: 0;bottom: 0;width: 100%;height:60px;box-shadow:5px 5px 50px #F0EFED}
.index_top_p1{text-align: center;width:46px;height: 36px;margin: 0 auto;line-height: 46px;color:#D4D4D4;border-radius:17px;}
.index_top_p_text1{text-align: center;font-size: 0.8em;color: #999;}



















